// import the Nunito Sans google font
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

// set all elements to have no margin or padding, use the border box model, and the Nunito Sans font
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
  color: blue;
  font-weight: 600;
}
ul {
  list-style: none;
}
// header with active class
header.active{
  padding: 2px;
  background-color: gainsboro;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 2px;
  background-color: white;
  transition: all 0.5s ease-in-out;
  .navtoggle {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .navlogo {
      font-size: 1.5rem;
    }

    .navmenu {
      background-color: orange;
      width: 100%;
      position: fixed;
      top: 0rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      left: -100%;
      transition: all 0.5s ease;
    }

    .active {
      left: 0;
    }
  }

  .hamburger {
    display: block;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 25px;
    span {
      position: absolute;
      width: 30px;
      height: 5px;
      background: #000000;
      border-radius: 100px;
      display: inline-block;
      transition: 0.3s ease;
      left: 0;
    }
    .top {
      top: 0;
    }
    .middle {
      top: 10px;
    }
    .bottom {
      bottom: 0;
    }
  }

  .active {
    .top {
      transform: rotate(45deg);
      transform-origin: top left;
      width: 30px;
      left: 4px;
    }

    .middle {
      transform: scale(0);
      opacity: 0;
    }

    .bottom {
      transform: rotate(-45deg);
      transform-origin: top left;
      width: 30px;
      bottom: -1px;
      box-shadow: 0 0 10px gainsboro;
    }
  }
}
main {
  margin-top: 5rem;
}

.search-box {
  width: 100%;
  background-color: white;
}

.searchform {
  display: flex;
  border: 1px solid rgb(0, 0, 0);

  input {
    flex: 1;
    padding: 2px;
    border: none;
  }

  button {
    padding: 2px 6px;
    background-color: gainsboro;
    border: none;
  }
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  header {
    .hamburger {
      display: none;
    }
    .navmenu {
      position: static !important;
      display: flex;
      flex-direction: row !important;
      justify-content: flex-end;
      width: auto !important;
      flex: 1;
      background-color: transparent !important;

      .navlink {
        padding: 0 8px;
      }
    }
  }

  .search-box {
    width: auto;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
